body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea los elementos en fila y los separa */
    padding: 10px 20px;
    background-color: #4097c0;
    border-bottom: 1px solid #ddd;
}

header i {
    font-size: 30px; 
    color: azure;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: azure;
    text-align: center;
    flex-grow: 1; /* Asegura que el título ocupe el espacio disponible */
}

header button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #297094;
    color: azure;
    border-radius: 5px;
}

header button:hover {
    background-color: #0056b3;
}

#notes-list {
    padding: 20px;
}
.btn-trash {
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el padding */
    color: #dc3545; /* Color del icono */
    font-size: 1.5rem; /* Tamaño del icono */
  }
  .btn-trash:hover {
    color: #a71d2a; /* Color del icono al pasar el ratón */
  }